@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

@model LoginViewModel

@if (Model.EnableLocalLogin)
{

    <!-- Login Form -->
    <div class="app">

        <div class="bg"></div>
        <form asp-route="Login">

            <header>
                <img src="~/login.png" style="height: 135px;" />
            </header>

            <div class="inputs">
                <input asp-for="Username" placeholder="Username or email" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Username or email'">
                <input type="password" asp-for="Password" placeholder="Password" autocomplete="off" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Password'">

                <p class="light"><a href="#">Forgot password?</a></p>

            </div>

        </form>

        <footer>
            <button name="button" value="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Continue</button>
            <p>Don't have an account? <a href="#">Sign Up</a></p>
        </footer>

    </div>
}
